<template>
  <div>
    <div class="counter">
      addition: {{addition}}
    </div>
    <button @click="addition++">Increment</button>
  </div>
</template>

<script>
export default {
  data: () => ({
    addition: 0
  })
}
</script>
