<template>
  <div id="app">
    <Greeting msg="Welcome to my App"/>
      <Addition/>
  </div>
</template>

<script>
import Greeting from './components/Greeting.vue'
import Addition from './components/Addition'

export default {
  name: 'App',
  components: {
    Greeting,
    Addition
  }
}
</script>
